.valores-section {
  background-color: #0b1220;
}
.valor-card {
  background-color: #111827;
  color: white;
  transition: transform 0.3s ease;
  border: 1px solid #1f2937;
}
.valor-card:hover {
  transform: scale(1.05);
}
.valor-card .icon {
  font-size: 2.5rem;
}
.gradient-text1 {
  background: linear-gradient(90deg, #6366f1,  #3b82f6, #06b6d4, #10b981, #f59e0b, #ef4444, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
